<html>
<head>
    <title><%= title + " points: " + points%></title>
</head>
<body>

<% include templates/header.ejs %>

<h3><%= title %></h3>
<p>Hi my name is Shaunak.. I love mini</p>

</body>
</html>